@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.form {
  padding: 1.6rem;
  display: flex;
  justify-content: space-around;
  @include divider;

  @include tablet {
    padding: 3.6rem;
    align-items: center;
  }
  @include desktop {
    padding: 8rem 25rem;
  }

  &__wrapper {
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 100%;
      padding: 0 2rem;
    }
  }

  &__image {
    @include avatar-image;
    background-color: $divider;
    margin-top: 3.5rem;

    @include tablet {
      width: 4.8rem;
      height: 4.8rem;
      margin: 0;
    }
    @include desktop {
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  &__form-box {
    width: 88%;
    @include tablet {
      width: 100%;
    }
  }

  &__label {
    @include subtitle;
    color: $secondary-text;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__name,
  &__text {
    width: 100%;
    @include divider;
    border-radius: 0.4rem;
    font-family: $font-regular;
    margin: 1rem 0 2rem 0;

    resize: none;
    @include form;
    &::placeholder {
      font-size: 1.8rem;
    }

    @include tablet {
      height: 5rem;
      margin: 0;
    }
  }
  &__button {
    @include tablet {
      display: flex;
      align-items: flex-end;
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    width: 100%;
    height: 5rem;
    font-family: $font-demi;
    font-size: 2rem;
    @include button;
    &:hover {
      cursor: pointer;
    }
    @include tablet {
      width: 100%;
    }
  }

  &__button-text {
    margin: auto;
    font-family: $font-demi;
    font-size: 1.8rem;
  }

  &__required {
    border: 0.1rem solid #d22d2d;
  }
}
