@use "./variables" as *;

@mixin font-faces {
  @font-face {
    font-family: "Avenir Regular";
    src: url("./assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
      url("./assets/fonts/AvenirNextLTPro.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Avenir Demi";
    src: url("./assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"),
      url("./assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Avenir Bold";
    src: url("./assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
      url("./assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}
