@use "./variables" as *;
@use "./fonts" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin divider {
  border-bottom: 0.1rem solid $divider;
}

/* global styles */
@mixin global-styles {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  html {
    font-size: 10px;
  }

  body {
    font-size: 1rem;
    font-family: $font-regular;
    margin: 0;
    @include tablet {
      margin: 0;
    }
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  div,
  li,
  ul {
    margin: 0;
    list-style: none;
  }
}

/* desktop & tablet text styles */
@mixin desktop-page-header {
  font-size: 6rem;
  line-height: 6.8rem;
  font-family: $font-bold;
}

@mixin desktop-section-header {
  font-size: 6rem;
  line-height: 4.4rem;
  font-family: $font-bold;
}

@mixin desktop-sub-header {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: $font-demi;
}

@mixin desktop-body-copy {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: $font-regular;
}

/* mobile text style */
@mixin page-header {
  font-size: 4rem;
  font-family: $font-demi;
}

@mixin section-header {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: $font-demi;
}

@mixin sub-header {
  font-size: 2rem;
  line-height: 2.2rem;
  font-family: $font-demi;
}

@mixin body-copy {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: $font-regular;
}

@mixin logo {
  width: 15rem;
}

/* padding */
@mixin mobile-heading-pad {
  padding: 2.4rem 0 1.6rem 0;
}

@mixin desktop-heading-pad {
  padding: 3.6rem 0 2.4rem 0;
}

/* icons */
@mixin avatar {
  border-radius: 50%;
  background-color: $divider;
  background-image: url("../../assets/images/Images/Mohan-muruge.jpg");
  height: 3.5rem;
  width: 3.5rem;
}

@mixin button {
  background-color: $primary-form;
  color: $background;
  border-radius: 0.4rem;
  border: none;
  font-family: "Avenir Next Demi";
}

@mixin form {
  border-radius: 0.4rem;
  border: 0.1rem solid $divider;
  background-color: $form-background;
  padding: 1.5rem;
  &::placeholder {
    color: $primary-text;
    font-size: 1.5rem;
  }
}

@mixin title {
  font-size: 3.5rem;
  font-family: $font-bold;
  color: $primary-text;
}

@mixin subtitle {
  font-size: 2rem;
  font-family: $font-demi;
  color: $primary-text;
}

@mixin subtext {
  font-size: 2rem;
  font-family: $font-regular;
  color: $primary-text;
}
