/* media breakpoint values */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* primary colors */
$primary-text: #323232;
$primary-form: #0095ff;
$secondary-text: #afafaf; /* silver */
$background: #ffffff;

/* secondary colors */
$video-text: #000000;
$hover: #0065ad;
$divider: #e1e1e1; /* mercury */
$form-background: #fafafa; /* alabaster */

/* fonts */
$font-regular: "Avenir Regular";
$font-demi: "Avenir Demi";
$font-bold: "Avenir Bold";
