/* media breakpoint values */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* primary colors */
$primary-text: #323232;
$primary-form: #0095ff;
$secondary-text: #afafaf;
$background: #ffffff;

/* secondary colors */
$video-text: #000000;
$hover: #0065ad;
$divider: #e1e1e1;
$form-background: #fafafa;

/* fonts */
$font-regular: "Avenir Next Regular";
$font-demi: "Avenir Next demi";
$font-bold: "Avenir Next bold";
