/* media breakpoint values */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* colors */
$primary-black: #323232;
$bandsite-dark-black: #000000;
$label: #afafaf;
$border: #e1e1e1;
$primary: #ffffff;
$highlight: #fafafa;

/* fonts */
$font-regular: "Avenir Next Regular";
$font-demi: "Avenir Next demi";
$font-bold: "Avenir Next bold";
