@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video {
  @include desktop {
    background-color: black;
    display: flex;
    justify-content: center;
  }
  &__image {
    padding: 0;
    width: 100%;
    @include desktop {
      width: 80%;
    }
  }
}
