@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload {
  padding: 1.6rem;
  border-top: 0.1rem solid $divider;

  &__title {
    @include title;
    padding: 1.6rem 0;
  }

  &__subtitle {
    @include subtitle;
    color: $secondary-text;
  }
  &__image {
    width: 100%;
    border-radius: 0.4rem;
    padding: 1.6rem 0;
  }
}

.cancel-button {
  all: unset;
  padding: 4rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
  color: $primary-form;
  font-family: $font-demi;
  font-size: 1.8rem;

  &__text {
    padding-left: 2rem;
  }
}
