@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.comments {
  padding: 1.6rem;

  @include tablet {
    padding: 2rem 3.6rem;
  }
  @include desktop {
    padding: 0;
  }

  &__section {
    padding: 1.6rem 0;
    display: flex;
    justify-content: space-between;
    @include divider;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__image {
    background-color: $divider;
    margin-right: 1rem;
    @include avatar;

    @include tablet {
      width: 4.8rem;
      height: 4.8rem;
      margin: 0;
    }
    @include desktop {
      width: 4.8rem;
      height: 4.8rem;
    }
  }
  &__wrapper {
    width: 88%;
    @include tablet {
      padding-left: 2rem;
    }
  }

  &__name-date-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__name-date {
    @include subtitle;
    color: $primary-text;

    @include tablet {
      font-size: 2.3rem;
    }
  }

  &__name-date--color {
    color: $secondary-text;
    font-family: $font-regular;
  }

  &__text {
    padding-top: 1.6rem;
    @include subtext;

    @include tablet {
      font-size: 2.3rem;
    }
  }
}
