@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.video {
  &__title {
    padding: 1.6rem 0;
    @include title;
    @include divider;

    @include tablet {
      padding: 3.6rem 0 0 0;
      border: none;
      font-size: 4rem;
    }

    @include desktop {
      font-size: 5rem;
      padding: 6rem 0 2rem 0;
    }
  }

  &__wrapper {
    padding: 0 1.6rem;
    @include tablet {
      padding: 0 3.6rem;
    }
    @include desktop {
      padding: 0;
    }
  }

  &__detail {
    padding: 1.6rem 0;
    @include subtext;
    display: flex;
    flex-direction: row;
    @include divider;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      font-size: 2.3rem;
    }
    @include desktop {
      padding-right: 2rem;
    }
  }

  &__detail-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      width: auto;
      gap: 4rem;
    }
  }

  &__detail-text {
    padding: 1rem 0;
    color: $secondary-text;
  }

  &__detail-text--bold {
    font-family: $font-demi;
    color: $primary-text;
  }
  &__description {
    @include subtext;
    padding: 1.6rem 0;

    @include tablet {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }

    @include desktop {
      padding-right: 2rem;
      font-size: 2.5rem;
    }
  }

  &__comment-number {
    padding: 1rem 0;
    @include subtitle;
    @include tablet {
      font-size: 2.3rem;
    }
  }
}
